@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    background: #0a1dcf;
    /* 背景画像         */
    background-image: linear-gradient(0deg, #ddf314 0%, #1e72c0 100%);
}

.btn{
    background: red;
    color: #fff;
    border: none;
}

.register-btn{
    background: red;
    color: #fff;
    border: none;
}

.Social{
    color: #fff;
}

