@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    background: #0a1dcf;
    /* 背景画像         */
    background-image: linear-gradient(0deg, #ddf314 0%, #1e72c0 100%);
}

.Social{
    color: #fff;
}

.login-body{
    display: flex;
    justify-content: space-around;
    background-color: rgb(189, 184, 184);
    padding: 4rem;
}

.Social{
    text-align: center;
}

.login-atlas{
    text-align: center;
}

