@charset "utf-8";
html{
}
body{
 
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
  position: relative;
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    text-align: center;
    min-height: 100vh;
}

#head{
  display: flex;
  position: relative;
  height: 100%;
}

#confirm{
  text-align: left;
  height: auto;
}

/* サイドバーのとこ */

.user-btn{
  text-align: end;
  padding: 5px;
}

.user-btn a{
  display: block;
}



/* 投稿 */ 
.post-input{
  height: 100px;
  width: 70%;
  border: none;
}

/* サイドバーのボタン */
.side-btn{
  text-align: right;
}

/* 投稿一覧 */

.index-form{
  border-bottom: inset 10px;
  height: 10rem;
  width: auto;
  padding: 0 0 0 10%;
}

#show-post{
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 0 0% 0 10%;
  border-bottom: ridge;
}

.show-img{
  top: 0%;
  left: 85px;
}

.show-name{
  display: inline-flex;
  padding: 0%;
  width: 10%;
}

.posts{
  padding: 3% 34% 0 6.8%;

} 

.current_timestamp{
  display: inline-flex;
  text-align: end;
  padding-left: 64%;

} 

.content{
  text-align: right;
  display: flex;
}

/* プロフィール編集 */

.icon-up{
  position: absolute;
  top: 3%;
  left: 15%;
}

.up-user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 0% 2% 0;
  margin: 0% 25% 0%;
}

.up-user input{
  background-color: #e2e2e2;
  border-radius: 10px 10px
}

.up-user input{
  height: 50px;
  width: 50%;
}

.up-btn{
  text-align: center;
}


.up-user label{
  cursor: pointer;
  color: #000000;
  background-color: #e2e2e2;
  padding: 10px 40px;
  margin-right: 60px;
}

input[type="file"]{
  display: none;
}

.error{
  text-align: center;
}

/* アコーディオンメニュー */
.menu {
    width: 20%; /* 領域の幅の広さ */
    padding: 0; /* 上下左右のパディング */
    text-align: center;
    position: absolute;
    right: 0px;
    top: 45px;
  }
  .menu input {
    display: none; /*チェックボックスを隠す*/
  }
  /*バー部分*/
  .menu label {
   cursor :pointer; /* マウスカーソルの指定 リンクポインターにしている */
    display: block; /* ブロックボックスとして表示 */
    text-decoration: none; /* テキストの装飾の指定 */
    color: #fff;
    line-height: 1; /* 行の高さ */
 /* ボックスの配置方法 */
    margin: 0 ;
    padding: 0;
  }
  /*開いたときに表示される部分*/
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1px;
  }
  .menu li {
    height: 0;
    overflow-y: hidden;
    transition: padding-bottom 0.5s, padding-top 0.5s; /*閉じるときのアニメーション*/
    -webkit-transition: padding-bottom 0.5s, padding-top 0.5s;
    -moz-transition: padding-bottom 0.5s, padding-top 0.5s;
    -ms-transition: padding-bottom 0.5s, padding-top 0.5s;
    -o-transition: padding-bottom 0.5s, padding-top 0.5s;
  }
  #menu_bar01:checked ~ #links01 li,
  #menu_bar02:checked ~ #links02 li {
    height: auto; /*開いたときに表示されるliの高さ*/
    opacity: 1;
    background: #ffffff;
    padding: 31px;
  }
   /*開いたときの下の余白*/
  #menu_bar01:checked ~ #links01 li:last-child,
  #menu_bar02:checked ~ #links02 li:last-child {
    margin-bottom: 20px;
  }
  /*閉じた状態の矢印描画*/
  .menu label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position:absolute;
    right: 2%;
    top: 0;
    bottom: 15%;
    margin: auto;
  }
  /*開いた状態の矢印描画*/
  .menu input[type=checkbox]:checked + label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    right: 2%;
    top: 0;
    bottom: 75%;
    margin: auto;
  }

  /* 投稿編集 */
  .content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.input{
  background-color: red;
}
/* 検索画面 */
.search-user{
  text-align: center;
  padding: 10px 0;
}

.search-img{
  display: inline-block;
  height: auto;
  text-align: left;
}

.search-nema{
  display: inline-block;
  height: auto;
  width: 20%;
  text-align: left;
  padding: 0 0 0 15px;
}

.followbtn{
  display: inline-block;
}

#search-form{
  height: 15%;
  padding: 1.25rem;
  border-bottom: inset 10px;
}

#search-form input{
  text-align: left;
  height: 45px;
  width: 25%;
}

#search-form input{
  text-align: left;
  height: 45px;
  width: 25%;
}

#search-form span{
  padding-left: 30%;
  position: absolute;
  top: 35px;
  font-size: xx-large;
}



.follower-post{
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 0 10% 0 10%;
}

/* フォローリストページ */

#follow-form form{
  display: inline-block;
  width: 100%;
  border-bottom: inset 10px;
}

.followlist{
  text-align: center;
}

.followtext{
  display: inline-flex;
  text-align: center;
}

.follow-img{
  display: inline-flex;
  text-align: center;
}

/* フォロワーリストページ */

#follower-form{
  display: inline-block;
  width: 100%;
  height: 20%;
  border-bottom: inset 10px;
}

.follower-text{
  display: inline-flex;
  font-size: 30px;
  padding-left: 10%;
}

.follower-img{
  display: inline-flex;
  width: 40%;
  height: 40%;
  padding: 20px 0px 0 3%;
  flex-wrap: wrap;
}

.user-icon{
  justify-content: space-between;
}

.user-name{
  display: inline-flex;
  justify-content: space-between;
  width: 150%;
}

.user-post{
  width: 100%;
  padding-left: 30px;
}

.user-created_at{
  text-align: end;
}

.user-show{
  display: inline-flex;
  width: 100%;
  padding: 10px 0 0 10%
}

.each-img{
  padding: 3px;
}

.post-max{
  padding-right: 30%;
}


/* 他ユーザーのページ */
.user-form p {
  text-align: center;
}

.user-form td{
  margin: 0 10px 20px 0;
}

#user-pr{
  display: inline-flex;
  padding-left: 10%;
  width: 100%;
  height: 20%;
  border-bottom: inset 10px;
  padding-top: 20px;
}

.userbtn{
  display:inline;
  padding: 5% 0 0 50%;
}

.user-bio{
  padding-left: 33px;
}

/* アトラス画像 */
.atlas-img{
  display: block;
  padding: auto;
  height: 40%;
}

.atlas-zone{
  margin: 0%;
  height: auto;
}




/* ユーザーのアイコンのサイズ指定 */
.user-icon{
  width: 65px;
	height: 65px;
}



