@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    text-align: center;
}

#confirm{
  text-align: left;
}
/* サイドバーのボタン */
.side-btn{
    border-radius: 50px;  /* 外側を丸める */
    position: relative; /* ボックスの配置方法を指定  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #f1f1f1;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
}

/* 投稿 */ 
.post-input{
  height: 100px;
  width: 70%;
  border: none;
}


/* 投稿一覧 */
.post.username{
  text-align: left;
}

.username{
  text-align: left;
}

.current_timestamp{
  text-align: right;
}

.content{
  text-align: right;
}

/* プロフィール編集 */
.profile{
  text-align: center;
}

.profile-btn{
  background: red;
  color: #fff;
  border: none;
}

/* アコーディオンメニュー */
.menu {
    width: 100%;
    padding: 10px 10px 20px;
  }
  .menu input {
    display: none; /*チェックボックスを隠す*/
  }
  /*バー部分*/
  .menu label {
    cursor :pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
  }
  /*開いたときに表示される部分*/
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1px;
  }
  .menu li {
    height: 0;
    overflow-y: hidden;
    transition: padding-bottom 0.5s, padding-top 0.5s; /*閉じるときのアニメーション*/
    -webkit-transition: padding-bottom 0.5s, padding-top 0.5s;
    -moz-transition: padding-bottom 0.5s, padding-top 0.5s;
    -ms-transition: padding-bottom 0.5s, padding-top 0.5s;
    -o-transition: padding-bottom 0.5s, padding-top 0.5s;
  }
  #menu_bar01:checked ~ #links01 li,
  #menu_bar02:checked ~ #links02 li {
    height: auto; /*開いたときに表示されるliの高さ*/
    opacity: 1;
    background: #f1f1f1;
    padding: 10px;
  }
   /*開いたときの下の余白*/
  #menu_bar01:checked ~ #links01 li:last-child,
  #menu_bar02:checked ~ #links02 li:last-child {
    margin-bottom: 20px;
  }
  /*閉じた状態の矢印描画*/
  .menu label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position:absolute;
    right: 2%;
    top: 0;
    bottom: 15%;
    margin: auto;
  }
  /*開いた状態の矢印描画*/
  .menu input[type=checkbox]:checked + label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    right: 2%;
    top: 7%;
    bottom: 0;
    margin: auto;
  }


/* 投稿一覧 */
.show-post{
  display: flex;
}

  /* 投稿編集 */
  .content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.input{
  background-color: red;
}

.search-user{
  text-align: center;
}
